@each $name, $size in $theme-gutters {
  .m-#{$name} {
    margin: $size * $gutter;
  }
  .mx-#{$name} {
    margin-left: $size * $gutter;
    margin-right: $size * $gutter;
  }
  .my-#{$name} {
    margin-top: $size * $gutter;
    margin-bottom: $size * $gutter;
  }
  .mt-#{$name} {
    margin-top: $size * $gutter;
  }
  .mr-#{$name} {
    margin-right: $size * $gutter;
  }
  .mb-#{$name} {
    margin-bottom: $size * $gutter;
  }
  .ml-#{$name} {
    margin-left: $size * $gutter;
  }

  .p-#{$name} {
    padding: $size * $gutter;
  }
  .px-#{$name} {
    padding-left: $size * $gutter;
    padding-right: $size * $gutter;
  }
  .py-#{$name} {
    padding-top: $size * $gutter;
    padding-bottom: $size * $gutter;
  }
  .pt-#{$name} {
    padding-top: $size * $gutter;
  }
  .pr-#{$name} {
    padding-right: $size * $gutter;
  }
  .pb-#{$name} {
    padding-bottom: $size * $gutter;
  }
  .pl-#{$name} {
    padding-left: $size * $gutter;
  }
}
