---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const html = await post.render();

// <pre>{JSON.stringify(post, null, 4)}</pre>
---

<BaseLayout pageTitle={post.data.title}>
  <section class="app-section">
    <header>
      <h1>{post.data.title}</h1>
    </header>
    <div class="flow-text">
      <html.Content />
    </div>
  </section>
</BaseLayout>
