---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const skills = [
  "nodejs",
  "React",
  "Svelte",
  "Remix",
  "Astro",
  "HTML",
  "CSS",
  "UX",
];
---

<BaseLayout pageTitle={pageTitle}>
  <p>Hello!</p>
  <p>
    My name is antoine fricker, I'm a fullstack developer, mainly in node.js
    &amp; React within the Javascript/Typescript ecosystem in general.
  </p>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
