---
import ImageFillerSection from "../components/ui/ImageFillerSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostsList from "../components/blog/BlogPostsList.astro";

const pageTitle = "antoine fricker - fullstack developer";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="app-section --70vh">
    <header>
      <br />
      <br />
      <br />
      <h1>Hi! I'm Antoine</h1>
    </header>
    <content class="flow-text">
      <p class="--text-lg">
        I am a fullstack developer from France, mainly within the Javascript/Typescript ecosystem. When not coding,
        you'll find me tinkering something stupid in my workshop, hopelessly trying to grow plants under duress or
        cooking with love and spices for a gourmet family.
      </p>
      <p class="--text-lg">
        Here you may encounter notes on tech readings, feedback on my daily practice, <s>very few</s> personal articles and
        rare extracurricular digressions nonetheless.
      </p>
      <p class="--text-lg"><em>So, hello world and be welcome!</em></p>
    </content>
  </section>
  <ImageFillerSection classModifier="--30vh" src="/images/cloud-separator2.webp" />
  <section class="app-section --60vh">
    <header>
      <br />
      <br />
      <br />
      <h3>Last log entries</h3>
    </header>
    <content>
      <BlogPostsList length={5} previewLength={2} showMoreLink={true} />
    </content>
  </section>
  <ImageFillerSection classModifier="--40vh" src="/images/cloud-separator2.webp" />
</BaseLayout>
