---
import { format } from "date-fns";

const { date } = Astro.props;

const fillToTwoDigits = (number: number) => {
  return number < 10 ? `0${number}` : number;
};
---

<div class="blog-date-block">
  <div>{fillToTwoDigits(date.getDate())}</div>
  <div>{format(date, "MMM")}</div>
  <div>{date.getFullYear()}</div>
</div>
