---
import TablerIcon from "../ui/TablerIcon.astro";
---

<header class="root-container py-md mb-xl">
  <nav class="stack --row --align-items-end --gap-lg">
    <a href="/">
      <TablerIcon name="circle-dot" className="txt-primary" />
    </a>
    <a href="/blog">/blog</a>
    <a href="/about">/about</a>
    <div class="stack-filler"></div>
    <a href="/private"><TablerIcon name="lock" /></a>
  </nav>
</header>
