---
import SocialLink from "../ui/SocialLink.astro";
---

<footer>
  <div class="stack --row --m1">
    <div>
      <h5>antoine fricker</h5>
      <p></p>
      <div class="stack --column --start --gap-m">
        <SocialLink icon="brand-github" label="follow me on github" url="" />
        <SocialLink icon="mail" label="get in touch" url="#" />
      </div>
    </div>
  </div>
</footer>
