---
const { pageTitle } = Astro.props;
---

<header>
  <h3>{pageTitle}</h3>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags">Tags</a>
    <a href="/rss.xml">RSS</a>
  </nav>
</header>
