---
import "../styles/style.scss";

import AppHeader from "../components/page/PageHeader.astro";
import AppFooter from "../components/page/PageFooter.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <style lang="scss"></style>
    <meta charset="utf-8" />
    <title>{pageTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <AppHeader pageTitle={pageTitle} />
    <main id="app-container">
      <div class="root-container">
        <slot />
        <AppFooter />
      </div>
    </main>
  </body>
</html>
