---
import TablerIcon from "./TablerIcon.astro";

const { icon, label, url, printLabel = false } = Astro.props;
---

<a href={url} class="px-sm">
  <div class="stack --gap-sm" arial-label={label}>
    <TablerIcon name={icon} />
    {printLabel && <span>{label}</span>}
  </div>
</a>
